
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #1ee9d8;
}
/*header styling*/
header {
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #df4ecc;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 52px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
.code-lover img {
max-height: 300px;
width: 100%;
}

/*main styling*/
.information {
width: 75%;
display: flex;
flex-wrap: wrap;
text-indent: 2%;
float: right;
margin-right: 15px;
}

/*paragraph styling*/

p {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*aside styling*/
.about-me, .work, .contact-me {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 30px;
    margin-left: 20px;
    }
.about-me {
}

.showcase img {
    max-height: 500px;
    width: 50%;
    margin-top: 50px;
    float: right;
}
.footer {
   padding: 30px;
   clear: both;
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 15px;

}
